<div class="card-columns">
      <% @photos.each do |photo| %>
      <div class="card photo-card">
        <div class="card-body">
          <%= link_to photo do %>
          <%= image_tag photo.image.url(:medium), class: "index-incard-image" %>
          <% end %> <br/><br/>
          <%= photo.description %></div><br/>
            <span class="invi"><%= link_to edit_photo_path(photo) do %>
            <%= ion_icon "edit"%>Edit<%end%> |
            <%= link_to photo, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <%= ion_icon "trash-b"%> Delete <%end%></span>
      </div>
      <% end %>
    </div><br/>
<%= will_paginate @photos, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: %w(pagination justify-content-center) %>