<div class="container">
<%= button_to "Back", photos_path, class: "btn btn-dark", method: :get %>
  <div style="text-align:center"><h3><%=@profile.username%></h3>
  <% if current_user.id != @profile.id%>
    <% if current_user.subscriptions.find_by_friend_id(@profile.id).nil?%>
    <%= button_to "Subscribe", subscribe_path, class: "btn btn-success"%>
    <% else %>
    <%= button_to "Unsubscribe", unsubscribe_path, class: "btn btn-dark"%>
    <% end %>
  <% end %>
  <br/>
  </div>
    <div class="card-columns">
      <% @profile.photos.each do |photo| %>
      <div class="card photo-card">
        <div class="card-body">
          <%= link_to photo do %>
          <%= image_tag photo.image.url(:medium), class: "index-incard-image" %>
          <% end %><br/><br/>
          <%= photo.description %></div><br/>
          <span class="invi"><% if photo.user == current_user %>
            <%= link_to edit_photo_path(photo) do %>
            <%= ion_icon "edit"%>Edit<%end%> |
            <%= link_to photo, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <%= ion_icon "trash-b"%> Delete <%end%></span>
          <% end %>
        </div>
      <% end %>
    </div>
</div>